.films {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: left;

  td, th {
    border: none;
    padding: 8px;
  }

  tr {
    &:hover {
      cursor: pointer;
      background-color: rgba(24, 24, 24, 0.9);
    }
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: green;
    color: white;
  }

  .list {
    height: 50px;
    justify-content: center;
    align-items: center;
  }
}

.scroll-viewport {
  text-align: center;
  min-height: 80vh;
  width: 100%;
}

.scroll-btn {
  position: absolute;
  bottom: 50px;
  left: 45%;
}

