<section class="main">
  <form (ngSubmit)="applyFilters()"
        [formGroup]="filterForm"
        class="filters">

    <label for="year">Year:</label>
    <select class="select"
            formControlName="year"
            id="year"
            name="year">
      <option selected></option>
      <option *ngFor="let year of filters?.years">
        {{year}}
      </option>
    </select>

    <label for="genre">Genre:</label>
    <select class="select"
            formControlName="genre"
            id="genre"
            name="genre"
    >
      <option selected></option>
      <option *ngFor="let genre of filters?.genres">
        {{genre}}
      </option>
    </select>
    <button (click)="resetFilters()"
            class="warn-btn"
            type="reset"
    >
      Reset
    </button>
    <button class="primary-btn"
            type="submit"
    >
      Search...
    </button>
  </form>


  <cdk-virtual-scroll-viewport #scrollViewport class="scroll-viewport" itemSize="20">
    <table class="films">
      <thead>
      <tr>
        <th style="width:10%">ID</th>
        <th style="width:50%">Name</th>
        <th style="width:20%">Genres</th>
        <th style="width:20%">Year</th>
      </tr>
      </thead>

      <tr *cdkVirtualFor="let film of films" class="film__item">
        <td>
          {{film.id}}
        </td>
        <td>
          {{film.name}}
        </td>
        <td>
          {{film.genre1}},
          {{film.genre2}}
        </td>
        <td>
          {{film.year}}
        </td>
      </tr>
    </table>
    <button
      (click)="loadMore()"
      class="primary-btn scroll-btn">
      Load more
    </button>
  </cdk-virtual-scroll-viewport>

</section>
